[data-page="start-page"]{
    .start-cover-bg{
        background-image: url(/images/backgroundORM.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        text-align: right;
        margin-bottom: -40px;
        color: #DFC3C6;
        
    }   
    .start-text{
        padding-right: 20px;
        padding-top: 22%;
    }

}

@include media-breakpoint-down(md){
    .start-text h1{
        font-size: 9vw;
        text-shadow: 3px 3px 5px rgba(122, 73, 73, 0.7);
    }
    .start-text p{
    font-size: 4vw;
    }
}

