
.data-btn-circle-xs{
    width:15px;
    height:15px;
    border-radius:50%;
    margin:0;
    padding:0;
}
    .data-btn-circle-xs>span{
    align-self:center;
}
.sectionAdjustment{
    padding-left: 0;
}
.cartText{
    margin-bottom: 8px;
}
.heyYou{
    display: flex;
}
.border-top-it-is-toppen{
    border-top: 1px solid black;
}